body {
    background: url("https://i.pinimg.com/236x/ba/1e/c1/ba1ec15cc6bae37822e0eea5dbc24108--wrigley-field-chicago-cubs.jpg");
}


.cubs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cub{
    border: 1px solid blue;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0 ,0 ,0, 0.5);
    
}

.slideshow{
    width: 50px;
    content: "https://goo.gl/images/fstlj2","https://goo.gl/images/i38q68","https://goo.gl/images/QzZorU","https://goo.gl/images/zCxVyj";
}

.jumbotron{
    background-color: #6495ED;
}